
:root{
    --color-orange: rgba(242, 138, 17, 1);
    --color-orange_transparent: rgba(242, 137, 17, 0.635);

    --color-white: #fff;
    --color-white_transparent: #ffffff50;

    --color-gray: rgba(187, 187, 187, 1);

    --color-black: #090909;
    --color-black_2:rgba(30, 30, 30, 1);

    --bg-gradient_gray: linear-gradient(212.67deg, #464646 8.49%, #FFFFFF 89.04%);
    --bg-gradient_black: linear-gradient(148.21deg, #090909 10.3%, #3E3E3E 87.5%);

    --b-radius_4:4px;
}